<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
        <div class="movieInfo">
            <div class="metaData">
                <h1 class="movietitle">Title</h1>
                <div class="poster"></div>
                <div class="fewData">
                    <div class="mainData">
                        <h2>Release Date</h2>
                        <h2>Producer</h2>
                        <h3>Rating</h3>
                    </div>
                    <div class="secondData">
                        <h2>Release Date</h2>
                        <h2>Producer</h2>
                        <h3>Rating</h3>
                    </div>
                    <div class="thirdData">
                        <h2>Release Date</h2>
                        <h2>Producer</h2>
                        <h3>Rating</h3>
                    </div>
                    <div class="forthData">
                        <h2>Release Date</h2>
                        <h2>Producer</h2>
                        <h3>Rating</h3>
                    </div>
                </div>
            </div>
            <button class="back" (click)="backToHomePage()">Back</button>
        </div>
</body>
</html>