<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie_Search_App</title>
</head>
<body>
    <div class="wrapper">
        <form>
            <h1 class="h1Text">Enter the title of the movie</h1>
            <input class="inputField" type="text">
            <button class="sendButton" class="sendButton">Send</button>
        </form>
    </div>
    <div class="movieInfo">
        <div class="metaData">
            <div class="poster"></div>
            <div class="fewData">
                <h1>Title</h1>
                <h2>Release Date</h2>
                <h2>Producer</h2>
                <h3>Rating</h3>
            </div>
        </div>
        <button class="moreInfo">More Info</button>
    </div>
</body>
</html>