<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie_Search_App</title>
</head>
<body>
     <div class="wrapper">
        <form>
            <h1 class="h1Text">Enter the title of the movie</h1>
            <input class="inputField" type="text">
            <button class="sendButton" type="button" (click)="navigatetoMoreInfo()" class="sendButton">Movie data</button>
        </form>
    </div>
</body>
</html>