<body>
  <div class="wrapper" *ngIf="isActive === true">
    <form>
      <h1 class="h1Text">Enter the title of the movie</h1>
      <input
        class="inputField"
        type="text"
        id="inputFieldTitle"
        autocomplete="off"
      />
      <button
        class="sendButton"
        type="button"
        (click)="getInputData()"
        class="sendButton"
      >
        Movie data
      </button>
    </form>
  </div>
  <div class="movieInfo" *ngIf="!isActive">
    <div class="metaData">
      <h2>Title</h2>
      <p><strong>Year:</strong></p>
    </div>
    <div class="metaData">
        <h2>Title</h2>
        <p><strong>Year:</strong></p>
      </div>
      <div class="metaData">
        <h2>Title</h2>
        <p><strong>Year:</strong></p>
      </div>
      <div class="metaData">
        <h2>Title</h2>
        <p><strong>Year:</strong></p>
      </div>
      <div class="metaData">
        <h2>Title</h2>
        <p><strong>Year:</strong></p>
      </div>
      <div class="metaData">
        <h2>Title</h2>
        <p><strong>Year:</strong></p>
      </div>
    </div>
    <button class="back" *ngIf="!isActive" (click)="navigateBack()">Back</button>
</body>
