body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightsalmon;
    outline: 8px solid lightsalmon;
    height: 100vh;
    gap: 30px;
    
}

.wrapper{
    background-color: white;
    height: 90vh;
    width: 70vw;
    margin-top: 30px;
    border-radius: 40px;
    box-shadow: 2px 2px 30px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.metaData{
    padding: 10px;
    font-family: monospace;
    box-shadow:2px 2px 5px black ;
    border-radius: 40px;
}

.plot{
    padding: 20px;
    box-shadow: 2px 2px 5px black;
    
}

button{
    height: 50px;
    width: 300px;
    border-radius: 20px;
    font-family: monospace;
    font-size: x-large;
    font-weight: 700;
    background-color: rgb(211, 253, 148);
    transition: background-color 0.5s;
    cursor: pointer;
    align-self: center;
    justify-self: center;
    margin-bottom: 30px;
}

button:hover{
    background-color: white;
}

img{
   height: 20vh;
   transition: height 1s;
   cursor: pointer;
}

img:hover{
    height: 30vh;
}