<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="wrapper">
        <img src={{movie.Poster}}>
        <h1 class="metaData">{{movie.Title}}</h1>
        <h2 class="metaData">{{movie.Released}}</h2>
        <h2 class="metaData">IMDB score: {{movie.imdbRating}}</h2>
        <h2 class="metaData">{{movie.Director}}</h2>
        <h2 class="metaData">{{movie.Actors}}</h2>
        <h3 class="plot">{{movie.Plot}}</h3>
    </div>
    <button (click)="navigateBack()">Back</button>
</body>
</html>